/* *********************************************************************************************

How to Create CSS3 + jQuery Accordion Menu [Tutorial]
"How to Create CSS3 + jQuery Accordion Menu" that was specially made for DesignModo by our friend Valeriu Timbuc. 

Links:
http://vtimbuc.net/
https://twitter.com/vtimbuc
http://designmodo.com/futurico
http://vladimirkudinov.com
http://rockablethemes.com

********************************************************************************************* */

/* Reset */

.menu-head,
.menu-foot,
.accordion,
.accordion ul,
.accordion li,
.accordion a  {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background-image: url(/images/30/accordion-menu.png);
}

.accordion li {
	list-style: none;
}

/* Layout & Style */

.accordion li > a {
	display: block;
	min-width: 110px;
	padding: 0 20px 0 20px;
	height: 34px;
	color: #EEE;
	font: bold 14px/32px sans-serif;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 3px #111;
	background-position: 0px -34px;
}

.accordion > li:hover > a,
.accordion > li > a.active {
	color: #222;
	text-shadow: 0px 0px 3px #D30;
	background-position: 0px -68px;
}

.menu-head {
	display:block;
	height:26px;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	padding:8px 0 0 0;
	background-position: 0px 0px;
}
.menu-foot {
	display:block;
	height:12px;
	background-position: 0px -170px;
}

div.menu + div.menu {
	margin-top:15px;
}

/* Sub Menu */

.sub-menu li a {
	color: #CCC;
	font: bold 14px/32px sans-serif;
	text-align: left;
	text-shadow: 1px 1px 3px #111;
	background-position: 0px -102px;
	overflow: hidden;
}

.sub-menu li:hover a { 
	color: #222; 
	text-shadow: none; 
	background-position: 0px -136px;
}


/* Functionality */

.accordion li > .sub-menu {
	display: none;
}

.accordion li:target > .sub-menu {
	display: block;
}