/*  GLOBAL STYLES  */
body {
    background: #000 url(/images/38/bg_page.png) repeat scroll top left;
    color: #CCC;
    font: 18px/24px "ABeeZee", sans-serif;
    margin: 0;
    padding: 16px 32px;
}
p {
    line-height: 24px;
}
p>code {
    color: #6DD;
}
a {
    font-weight: bold;
    text-decoration: none;
}
a:link {
    color: #F71;
}
a:visited {
    color: #F71;
}
a:hover {
    color: #FC3;
    text-decoration: underline;
}
a:active {
    color: #FC3;
    text-decoration: underline;
}
blockquote {
    margin-left: 0;
    font-size: 0.95em;
    padding-left: 24px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAQCAQAAACBg/b2AAAAH0lEQVQY02MoZyj/D4QMMBqNCxFgQFbFgMqFCAwXMwB8v3tB5XYODAAAAABJRU5ErkJggg==);
    background-repeat: repeat-y;
}
header,
main,
footer {
    background: #222;
    border: 1px solid;
    border-top-color: #777;
    border-left-color: #333;
    border-right-color: #111;
    border-bottom-color: #000;
    border-radius: 12px;
    display: block;
}
header,
main {
    margin-bottom: 16px;
    width: 100%;
}
.wrapper {
    display: table;
}
main,
#sidenav {
    display: table-cell;
    vertical-align: top;
}
.mathjax {
    display: block;
    max-height: 0;
    opacity: 0.0;
    overflow: hidden;
    transition: max-height 500ms, opacity 500ms;
}
/*  HEADER NAVIGATION  */
header {
    padding: 8px 0;
    text-align: center;
}
header nav ul {
    margin: 0;
    padding: 0;
}
header nav li {
    display: inline-block;
}
header nav li:first-child a {
    border-radius: 12px 0 0 12px;
}
header nav li:last-child a {
    border-radius: 0 12px 12px 0;
}
header nav a {
    border: 1px solid;
    border-top-color: #777;
    border-left-color: #333;
    border-right-color: #111;
    border-bottom-color: #000;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100px;
}
header nav a:hover {
    background-color: #F71;
    color: #000;
    text-decoration: none;
}

/*  MAIN CONTENT  */
main {
    margin-top: 12px;
    margin-right: 216px;
    overflow: hidden;
    padding: 0.5em 2em;
}
table {
    border-spacing: 0;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}
thead {
    background-color: #555;
}
th,
td {
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    padding: 4px;
}
hr {
    border: none;
    border-top-color: #F71;
    border-top-style: solid;
    border-top-width: 1px;
}
h1,
h2 {
    font-family: 'Paytone One', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 1em;
    margin: 12px 0 18px 0;
    text-shadow: 1px 1px 3px #000;
}
h1 a,
h2 a {
    font-weight: 400;
}
h1:first-child {
    background: #222 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoAgMAAADxkFD+AAAADFBMVEUAAAAREREiIiIzMzNpIidoAAAAGklEQVR4XmNYBQcMSCAUDpAV/IeDAdY2qg0AGWbUgeyj5P4AAAAASUVORK5CYII=) repeat-x scroll top left;
    margin-left: -16px;
    margin-right: -16px;
    padding: 0 16px 4px 16px;
}
.blogdate {
    background-color: #F80;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAABlBMVEX8bxH8iRUPsv2WAAAAGElEQVQIHWOcycDAwGgMItJAxBkQMYjEAA4zEBHENepiAAAAAElFTkSuQmCC);
    background-repeat: repeat;
    border-top: #FC3 1px solid;
    border-radius: 14px;
    color: #000;
    display: block;
    float: right;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    text-shadow: none;
    width: 192px;
}
.fright {
    float: right;
    margin-left: 1em;
}
.fleft {
    float: left;
    margin-right: 1em;
}
.center {
    text-align: center;
}
.previous {
    background-color: #F80;
    border: #F80 1px solid;
    border-top: #FC3 1px solid;
    border-radius: 16px;
    color: #000;
    float: left;
    height: 22px;
    padding: 2px 8px 2px 4px;
}
.previous::before {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASBAMAAACk4JNkAAAAJFBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACmWAJHAAAAC3RSTlMAmXciVbvMqmYziNe2zkYAAABYSURBVHheZY4xCoBADARHTmxs0l+jiJVP9QnWPuBAtcjnNKJs4VQDIbsLpNX3gWDymw6oPDiB7DnUqL20YRuN22MHS+Flts96ZP+rPpSiZLVpgVZBGmMpF8ZFMj+Pex5gAAAAAElFTkSuQmCC);
    padding-right: 6px;
    position: relative;
    top: 2px;
}
.previous>a {
    color: #000;
}
.next {
    background-color: #F80;
    border: #F80 1px solid;
    border-top: #FC3 1px solid;
    border-radius: 16px;
    color: #000;
    float: right;
    height: 22px;
    padding: 2px 4px 2px 8px;
}
.next::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASBAMAAACk4JNkAAAAJ1BMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADdEvm1AAAADHRSTlMAmXe7VSKqM8zdZhF4UCkRAAAAWklEQVR4XkWOsQmAQBAE501NxPirMDawAAOxDkv5wJJ8E0GuKD3x2IkGjttdYB1tWAAaezmBdjOng+RSrcLsdmSbKJ8l2/nJV1i6CXqZrvpQipLVBrFAq7T0AT3zOZQCcDdUAAAAAElFTkSuQmCC);
    padding-left: 6px;
    position: relative;
    top: 2px;
}
.next>a {
    color: #000;
}
.byline {
    clear: both;
    font-size: 0.75em;
    text-align: right;
}
.more {
    clear: both;
    display: block;
    text-align: center;
}
.columns {
    column-count: 3;
    column-gap: 2em;
}
.columns section {
    break-inside: avoid;
    padding: 0.25em 0;
}

/*  FOOTER  */
footer {
    clear: both;
    margin-top: 12px;
    padding: 0.25em 1em;
    text-align: center;
}
footer span {
    float: right;
}

/*  SIDEBAR NAVIGATION  */
#sidenav {
    float: right;
    font-size: 14px;
    font-weight: bold;
    width: 200px;
    border-left: transparent 16px solid;
}
#sidenav div>span:first-child {
    background-color: #222;
    border: 1px solid;
    border-top-color: #777;
    border-left-color: #333;
    border-right-color: #111;
    border-bottom-color: #000;
    border-radius: 12px 12px 0 0;
    display: block;
    padding: 6px;
    text-align: center;
}
#sidenav div>span:last-child {
    background-color: #222;
    border: 1px solid;
    border-top-color: #777;
    border-left-color: #333;
    border-right-color: #111;
    border-bottom-color: #000;
    border-radius: 0 0 12px 12px;
    display: block;
    padding: 6px;
    text-align: center;
}
#sidenav ul {
    margin: 0;
    padding: 0;
}
#sidenav ul li {
    background-color: #777;
    border: 1px solid;
    border-top-color: #777;
    border-left-color: #333;
    border-right-color: #111;
    border-bottom-color: #000;
    line-height: 32px;
    list-style-image: none;
    list-style-position: inside;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    text-shadow: 1px 1px 3px #000;
}
#sidenav ul li span {
    display: block;
    overflow: hidden;
    padding: 0 8px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#sidenav ul li a {
    display: block;
    overflow: hidden;
    padding: 0 8px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#sidenav ul li a:link {
    color: #EEE;
}
#sidenav ul li a:visited {
    color: #EEE;
}
#sidenav ul li a:hover {
    background-color: #F71;
    color: #000;
    text-shadow: none;
}
#sidenav ul li a:active {
    background-color: #F71;
    color: #000;
    text-shadow: none;
}
#sidenav ul li .active {
    background-color: #F71;
    color: #000;
    text-shadow: none;
}
#sidenav ul li ul {
    margin: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: max-height 250ms ease-out;
}
#sidenav ul li ul li {
    text-align: left;
}
#sidenav ul li ul li:first-child {
    border-top: none;
}
#sidenav ul li ul li:last-child {
    border-bottom: none;
}
#sidenav ul li ul li a {
    background-color: #444;
    display: block;
    padding-left: 1em;
}
#sidenav ul li ul li a:link {
    color: #EEE;
}
#sidenav ul li ul li a:visited {
    color: #EEE;
}
#sidenav ul li ul li a:hover {
    background-color: #CCC;
    color: #000;
    text-shadow: none;
}
#sidenav ul li ul li a:active {
    background-color: #CCC;
    color: #000;
    text-shadow: none;
}

/*  SCRIPT DEFINITION  */
dl {
    background: #25444d url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAABlBMVEUgQEk3U1zOSxNaAAAAGElEQVQIHWOcycDAwGgMItJAxBkQMYjEAA4zEBHENepiAAAAAElFTkSuQmCC);
    border: 1px solid #204048;
    border-top-color: #4080B0;
    border-bottom-color: #102028;
    border-radius: 6px;
    display: block;
    font-size: 0.9em;
    margin: 6px 0;
    padding: 6px;
    text-shadow: 1px 1px 3px #000;
    clear: both;
}
dl dt {
    display: inline;
    font-weight: bold;
}
dl dt a:link {
    color: #DDD;
}
dl dt a:visited {
    color: #DDD;
}
dl dt a:hover {
    color: #FFF;
}
dl dt a:active {
    color: #FFF;
}
dl dd {
    display: inline-block;
    margin-left: 1em;
}
dl.script {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}
dl.recent::before {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAMFBMVEX8fBP8fBP8fBP8fBP8fBP8fBP8fBP8fBP8fBP8fBP8fBP8fBP8fBP8fBP8fBP8fBOrPa5+AAAAD3RSTlMAECAwQFBgcICgsMDQ4PDg5yR0AAAAYklEQVR4XmOAAhMozXwAyrBLAFGKDMyvQTTDLAa7LyCa5b/z+w0gBvf/e/8VQIz8//9/gmjG9///PwIxOP6v+98AYuj/5PgnAGKsn8D4HESz/GBgCAAxeBOgtpRBaQYDKA0AzDcbiywGDSgAAAAASUVORK5CYII=);
    float: right;
    margin: 3px;
}

/*  CODE  */
div.script {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 1em;
}
pre,
code {
    font: 16px/20px 'Source Code Pro', 'Consoslas', monospace;
    tab-size: 4;
}
.codebox {
    background-color: #111;
    border-color: #555;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    color: #CCC;
    padding: 0;
    width: auto;
}
.codebox pre {
    background: transparent;
    margin: 0;
    overflow: auto;
    overflow-y: hidden;
    width: 100%;
}
.codebox pre.vscroll {
    height: 32em;
    overflow: auto;
    overflow-y: auto
}
.codebox pre.vscroll {
    height: auto;
}
.codebox pre code {
    background: linear-gradient(rgba(255, 255, 255, 0.016) 50%, rgba(255, 255, 255, 0.0) 50%);
    background-position: 0 0;
    background-repeat: repeat;
    background-size: 40px 40px;
    display: block;
    padding: 0 8px 0 8px;
}
.codebox .linenums {
    list-style-type: none;
    margin: 0 0;
}
.codebox .linenums>li {
    counter-increment: linecounter;
    margin-left: -3em;
}
.codebox .linenums>li::before {
    background-color: rgba(37, 68, 77, 0.25);
    border-right: 3px ridge #25444d;
    border-right: 3px ridge #245;
    color: #40C3F4;
    color: #4BF;
    content: counter(linecounter);
    display: block;
    float: left;
    font-size: 12px;
    font-weight: 300;
    margin-right: 0.5em;
    padding-right: 0.5em;
    text-align: right;
    width: 3em;
}
.codebox .linenums:first-child {
    counter-reset: linecounter;
}
.dark .gmlError {
    color: #ff00ff;
}
.dark .gmlCommentLine,
.dark .gmlCommentBlock {
    color: #75c475;
}
.dark .gmlMacro,
.dark .gmlConstant,
.dark .gmlEnum,
.dark .gmlEnumField {
    color: #FF8080;
}
.dark .gmlNumber {
    color: #FF8080;
}
.dark .gmlString {
    color: #FCF320;
}
.dark .gmlKeyword,
.dark .gmlCurlyBracket {
    font-weight: bold;
}
.dark .gmlKeyword,
.dark .gmlCurlyBracket,
.dark .gmlFunction,
.dark .gmlScript {
    color: #FFB871;
}
.dark .gmlLocal {
    color: #FFF899
}
.dark .gmlVariable {
    color: #58E55A
}
.dark .gmlHeaderMeta {
    color: #A7B
}
.dark .gmlHeaderName {
    color: #77BB5B
}
/*  SCRIPT PAGE  */
.note {
    border: 1px solid #555;
    border-radius: 3px;
    font-style: italic;
    padding: 3px 5px;
}
.note>span:first-child {
    color: #F71;
    font-style: normal;
    font-weight: bold;
    padding-right: 5px;
}
.note::before {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAGFBMVEX8fBP////8fBP8fBP8fBMAAADEYA/8fBO2cJm3AAAABXRSTlMAAD9CvZrDRqoAAABcSURBVHhePc7BEYAgDETRhaEAdSzAG1fsAE90ABVQQWDSvklk/Kc3e1rsK2yAvwCnCHkh0kIZH/xsyRB6zYbYKxlKr0PheTZOgqDIgsgSCYouw+FgBd842Xr+Gy+36Rc/vdjlbAAAAABJRU5ErkJggg==);
    padding-right: 6px;
    position: relative;
    top: 2px;
}
.note::after {
    content: '';
    display: table;
    clear: both;
}
.warning {
    border: 1px solid #555;
    border-radius: 3px;
    font-style: italic;
    padding: 3px 5px;
}
.warning>span:first-child {
    color: #F71;
    font-style: normal;
    font-weight: bold;
    padding-right: 5px;
}
.warning::before {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAIVBMVEX////8fBP8fBP8fBP8fBP8fBP8fBP8fBP8fBP8fBMAAACbyusoAAAACXRSTlMAADTAZ9WA7fHEZ7IJAAAAWklEQVR4XmOAA0ZBNfPiJEEBBkaRyJkzpzoCGR4zZ86c2SLAwBQ5a+bMlVMVGNhmrlo5a9XMBAbmmbNWrVo504CBfebMVatmziyAM+BScMVw7XAD4VYgLIUBAOmvLheGnkI/AAAAAElFTkSuQmCC);
    padding-right: 6px;
    position: relative;
    top: 2px;
}
.warning::after {
    content: '';
    display: table;
    clear: both;
}
.demo {
    display: inline-block;
    left: 50%;
    margin-right: -50%;
    margin-bottom: 1em;
    position: relative;
    transform: translate(-50%, 0);
}
.demo::before {
    background-color: #555;
    border-radius: 2px;
    color: #CCC;
    content: "Demonstration";
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    margin: 4px;
    padding: 0 0.5em;
}
.demo span {
    display: block;
    font-size: 0.8em;
    padding: 0 4px;
    text-align: center;
}
.demo iframe {
    border: 1px solid #555;
    display: block;
    margin: 4px auto;
}
div.example {
    margin: auto;
    margin-bottom: 1em;
    width: 90%;
}
div.example::before {
    background-color: #555;
    border-radius: 2px;
    color: #CCC;
    content: "Example";
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    margin: 4px;
    padding: 0 0.5em;
}
p.example {
    background-color: #111;
    border: 1px solid #555;
    display: block;
    margin: 4px auto 1em;
    padding: 0 4px;
    width: 90%;
}
p.example::before {
    background-color: #555;
    border-radius: 2px;
    color: #CCC;
    content: "Example";
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    margin: 4px 0;
    padding: 0 4px;
}

/*  SCRIPT META DATA  */
#contributors,
#related,
#history,
#github,
#lastmodified,
#thanks {
    font-size: 0.8em;
    text-align: left;
}
#contributors::before {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEX////8fBPuKC7uAAAAAXRSTlMAQObYZgAAACRJREFUeF5jYD7AwP+BQf4HCNn/gSMgFyTO/oABCIAkGAEVAwCB4Q9SuQDR4AAAAABJRU5ErkJggg==);
    padding-right: 6px;
    position: relative;
    top: 3px;
}
#related::before {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAD1BMVEX8fBP///86OjoVFRX8fBPCJZfbAAAABHRSTlMAAAAAs5NmmgAAAEVJREFUeF5dzNEJgDAQBNGR2MCBFUgakGsgwvZfkweb+JG/x7Asd5d0cUyMBf14jYhAFFRF45wQC5UMYTi57Bv2H2iZ+Xwt3Bp17clkdgAAAABJRU5ErkJggg==);
    padding-right: 6px;
    position: relative;
    top: 3px;
}
#history::before {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEUAAAD8fBMejURfAAAAAXRSTlMAQObYZgAAADJJREFUeF5jYGBgYH/AIP+Dwf4Ng/0dhvp9DPV1DHX/GOrYGOr/gZD9HxCS/wFSxsAAAHXVD+1dgI+SAAAAAElFTkSuQmCC);
    padding-right: 6px;
    position: relative;
    top: 3px;
}
#github::before {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABJ0lEQVQ4y42TwUpCURRFbzYLhdKJTgwbFwhIiYL4AUE/0A80D0dNAho7Mw1H0jz6hAD9BhURHAmIoULPQkH3kX3hdHnWBRa8s9/Zm3fOu9esHxLGoQSeQQ8sSI9aye3XxSFogc0/tNj7K0CEjofZ0rEhNuCVLz7AJXgEA9AlS3APrtizoWcXkFfJdQZGwZEaT+oDPtdVf944c+dClupS1vsQYcjiB2Q8Ak7BNz1Dw/mkGHmYLSN6llIELGYg4mGWnjk9geEhsTPdeARcq/6+CE0Wa7ACxT/MBTBWAS8iZtUSp/bT+Hv15ichB+rCNjQonINbHpYzFZALMVfduyCmT5AGx86nx8CXMr+FXSahxl3IKCmlJ5X5ad9ttFRAG8SVdgLewZ3bvwW1BvkBZ4B1qQAAAABJRU5ErkJggg==);
    padding-right: 6px;
    position: relative;
    top: 3px;
}

/*  LICENSE PAGE  */
#license {
    background-color: #222;
    border: 1px solid #E62;
    margin: 2em 0;
    padding: 1em 2em;
}

/*  PAYPAL PAGE  */
#paypal {
    background-color: #222;
    border: 1px solid #E62;
    box-sizing: border-box;
    clear: both;
    margin: 2em auto;
    padding: 1em 2em;
    position: relative;
    text-align: center;
    width: 50%;
}
#paypal input {
    font-size: 20px;
    padding: 4px 8px;
}
#paypal span {
    font-size: 20px;
}

/*  SEARCH PAGE  */
#search {
    background-color: #222;
    border: 1px solid #E62;
    box-sizing: border-box;
    clear: both;
    margin: 2em auto;
    padding: 1em 2em;
    position: relative;
    width: 100%;
}
#search input {
    box-sizing: border-box;
    font-size: 20px;
    padding: 4px 8px;
    width: 100%;
}
#search span {
    font-size: 20px;
}

/*  CLIPBOARD TOOL  */
.copy {
    float: right;
    margin: 0.5em;
}
.copy a {
    background-color: #F71;
    border-top: 1px solid #FC3;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    font-family: "Mondo", sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    padding: 2px 16px;
    text-decoration: none;
    text-shadow: none;
}
.copy a:hover {
    background-color: #FC3;
    color: #000;
    text-decoration: none;
}
.copy a:active {
    background-color: #FC3;
    color: #000;
    text-decoration: none;
}

/* NOSCRIPT */
.noscript {
    background-color: #600;
    border: #F71 1px solid;
    border-radius: 4px;
    font-weight: bold;
    margin-bottom: 16px;
    padding: 4px;
    text-align: center;
}