/*  GLOBAL STYLES  */
body {
	background: #000 url(/images/35/bg_page.png) repeat scroll top left;
	color: #CCC;
	font: 18px/24px "ABeeZee", sans-serif;
	margin: 0;
	padding: 16px 32px;
}
p {
	line-height: 24px;
}
p > code {
	color: #6DD;
}
a {
	font-weight: bold;
	text-decoration: none;
}
a:link {
	color: #FC7C13;
}
a:visited {
	color: #FC7C13;
}
a:hover {
	color: #FFCC33;
	text-decoration: underline;
}
a:active {
	color: #FFCC33;
	text-decoration: underline;
}
blockquote {
	margin-left: 0px;
	font-size: 0.95em;
	padding-left: 24px;
	background-image: url(/images/35/bg_quote.png);
	background-repeat: repeat-y;
}
header,
main,
footer {
	background: #222;
	border: 1px solid;
	border-top-color: #777;
	border-left-color: #333;
	border-right-color: #111;
	border-bottom-color: #000;
	border-radius: 12px;
    display: block;
}
header,
main,
#sidenav {
	margin-bottom: 16px;
}
.mathjax {
    display: block;
    max-height: 0;
    opacity: 0.0;
    overflow: hidden;
    transition: max-height 500ms, opacity 500ms;
}

/*  HEADER NAVIGATION  */
header {
	padding: 8px 0;
	text-align: center;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav li {
	display: inline-block;
}
header nav li:first-child a {
	border-radius: 12px 0 0 12px;
}
header nav li:last-child a {
	border-radius: 0 12px 12px 0;
}
header nav a {
	border: 1px solid;
	border-top-color: #777;
	border-left-color: #333;
	border-right-color: #111;
	border-bottom-color: #000;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	width: 100px;
}
header nav a:hover {
	background-color: #FC7C13;
	color: #000;
	text-decoration: none;
}


/*  MAIN CONTENT  */
main {
	margin-top: 12px;
	margin-right: 216px;
	overflow: hidden;
	padding: 0.5em 2em;
}
table {
    border-spacing: 0;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}
thead {
	background-color:#555;
}
th, td {
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    padding: 4px;
} 
hr {
	border: none;
	border-top-color: #FC7C13;
	border-top-style: solid;
	border-top-width: 1px;
}
h1, h2 {
	font-family: 'Paytone One', sans-serif;
	font-size: 25px;
	font-weight: 400;
	line-height: 1em;
	margin: 12px 0 18px 0;
	text-shadow: 1px 1px 3px #000;
}
h1 a, h2 a {
	font-weight: 400;
}
h1:first-child {
	background: #222 url(/images/35/bg_headline.png) repeat-x scroll top left;
	margin-left: -16px;
	margin-right: -16px;
	padding: 0 16px 4px 16px;
}
.blogdate {
	background-color: #F80;
	background-image: url(/images/35/bg_blogdate.png);
	background-repeat: repeat;
	border-top: #FFCC33 1px solid;
	border-radius: 14px;
	color: #000;
	display: block;
	float: right;
	font-size: 16px;
	line-height: 28px;
	text-align: center;
	text-shadow: none;
	width: 192px;
}
.postimg.fright {
	float: right;
	margin-left: 1em;
}
.postimg.fleft {
	float: left;
	margin-left: 1em;
}
.byline {
	clear: both;
	font-size: 0.75em;
	text-align: right;
}
.more {
	clear: both;
	display: block;
	text-align: center;
}


/*  FOOTER  */
footer {
	clear: both;
	margin-top: 12px;
	padding: 0.25em 1em;
	text-align: center;
}
footer span {
	float: right;
}


/*  SIDEBAR NAVIGATION  */
#sidenav {
	float: right;
	font-size: 14px;
	font-weight: bold;
	width: 200px;
}
#sidenav div {
	margin-bottom: 16px;
}
#sidenav div > span:first-child {
	background-color: #222;
	border: 1px solid;
	border-top-color: #777;
	border-left-color: #333;
	border-right-color: #111;
	border-bottom-color: #000;
	border-radius: 12px 12px 0 0;
	display: block;
	padding: 6px;
	text-align: center;
}
#sidenav div > span:last-child {
	background-color: #222;
	border: 1px solid;
	border-top-color: #777;
	border-left-color: #333;
	border-right-color: #111;
	border-bottom-color: #000;
	border-radius: 0 0 12px 12px;
	display: block;
	padding: 6px;
	text-align: center;
}
#sidenav ul {
	margin: 0;
	padding: 0;
}
#sidenav ul li {
	background-color: #777;
	border: 1px solid;
	border-top-color: #777;
	border-left-color: #333;
	border-right-color: #111;
	border-bottom-color: #000;
	line-height: 32px;
	list-style-image: none;
	list-style-position: inside;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	text-shadow: 1px 1px 3px #000;
}
#sidenav ul li span {
	display: block;
	overflow: hidden;
	padding: 0 8px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#sidenav ul li a {
	display: block;
	overflow: hidden;
	padding: 0 8px;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#sidenav ul li a:link {
	color: #EEE;
}
#sidenav ul li a:visited {
	color: #EEE;
}
#sidenav ul li a:hover {
	background-color: #FC7C13;
	color: #000;
	text-shadow: none;
}
#sidenav ul li a:active {
	background-color: #FC7C13;
	color: #000;
	text-shadow: none;
}
#sidenav ul li .active {
	background-color: #FC7C13;
	color: #000;
	text-shadow: none;
}
#sidenav ul li ul {
	margin: 0;
    max-height: 0;
    overflow: hidden;
	padding: 0;
    transition: max-height 250ms ease-out;
}
#sidenav ul li ul li {
	text-align: left;
}
#sidenav ul li ul li:first-child {
	border-top: none;
}
#sidenav ul li ul li:last-child {
	border-bottom: none;
}
#sidenav ul li ul li a {
	background-color: #444;
	display: block;
	padding-left: 1em;
}
#sidenav ul li ul li a:link {
	color: #EEE;
}
#sidenav ul li ul li a:visited {
	color: #EEE;
}
#sidenav ul li ul li a:hover {
	background-color: #CCC;
	color: #000;
	text-shadow: none;
}
#sidenav ul li ul li a:active {
	background-color: #CCC;
	color: #000;
	text-shadow: none;
}


/*  SCRIPT DEFINITION  */
dl {
	background: #25444d url(/images/35/bg_usage.png);
	border: 1px solid #204048;
	border-top-color: #4080B0;
	border-bottom-color: #102028;
	border-radius: 6px;
	display: block;
	font-size: 0.9em;
	margin: 6px 0;
	padding: 6px;
	text-shadow: 1px 1px 3px #000;
    clear: both;
}
dl dt {
	display: inline;
	font-weight: bold;
}
dl dt a:link {
	color: #DDD;
}
dl dt a:visited {
	color: #DDD;
}
dl dt a:hover {
	color: #FFF;
}
dl dt a:active {
	color: #FFF;
}
dl dd {
	display: inline-block;
	margin-left: 1em;
}
dl.script {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-bottom: 0;
}
dl.recent::before {
	content: url(/images/35/_recent.png);
	float: right;
	margin: 3px;
}


/*  CODE  */
div.script {
	border-top: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-bottom: 1em;
}
pre, code {
	font: 16px/20px 'Source Code Pro', 'Consoslas', monospace;
	tab-size: 4;
}
.codebox {
	background-color: #111;
	border-color: #565656;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	color: #C0C0C0;
	padding: 0;
	width: auto;
}
.codebox pre {
	background: transparent;
	margin: 0;
	overflow: auto;
	overflow-y: hidden;
	width: 100%;
}
.codebox pre.vscroll {
	height: 32em;
	overflow: auto;
	overflow-y: auto
}
.codebox pre.vscroll {
	height: auto;
}
.codebox pre code {
	background: linear-gradient(rgba(255,255,255,0.016) 50%, rgba(255,255,255,0.0) 50%);
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 40px 40px;
	display: block;
	padding: 0 8px 0 8px;
}
.codebox .linenums {
	list-style-type: none;
	margin: 0 0;
}
.codebox .linenums > li {
	counter-increment: linecounter;
	margin-left: -3em;
}
.codebox .linenums > li::before {
	background-color: rgba(37,68,77,0.25);
	border-right: 3px ridge #25444d;
	color: #40C3F4;
	content: counter(linecounter);
	display: block;
	float: left;
	font-size: 12px;
	font-weight: 300;
	margin-right: 0.5em;
	padding-right: 0.5em;
	text-align: right;
	width: 3em;
}
.codebox .linenums:first-child {
	counter-reset: linecounter;
}
.str { color: #FFF899; }
.kwd { color: #FFB871; font-weight: bold; }
.fnc { color: #FFB871; }
.com { color: #8FEF8F; }
.lit { color: #FF8080; }
.pnc { color: #C0C0C0; }
.pln { color: #C0C0C0; }
.scr { color: #FFB871; }
.obj { color: #58E55A; }
.glo { color: #58E55A; }
.con { color: #FF8080; }
.rsc { color: #FF8080; }
.loc { color: #FFF899; }


/*  SCRIPT PAGE  */
.note {
	border: 1px solid #555;
	border-radius: 3px;
	font-style: italic;
	padding: 3px 5px;
}
.note > span:first-child {
	color: #FC7C13;
	font-style: normal;
	font-weight: bold;
	padding-right: 5px;
}
.note::before {
	content: url(/images/35/_note.png);
	padding-right: 6px;
	position: relative;
	top: 2px;
}
.note::after {
	content: '';
	display: table;
}
.note::after {
	clear: both;
}
.warning {
	border: 1px solid #555;
	border-radius: 3px;
	font-style: italic;
	padding: 3px 5px;
}
.warning > span:first-child {
	color: #FC7C13;
	font-style: normal;
	font-weight: bold;
	padding-right: 5px;
}
.warning::before {
	content: url(/images/35/_warning.png);
	padding-right: 6px;
	position: relative;
	top: 2px;
}
.warning::after {
	content: '';
	display: table;
}
.warning::after {
	clear: both;
}
.demo {
	display: inline-block;
	left: 50%;
	margin-right: -50%;
	margin-bottom: 1em;
	position: relative;
	transform: translate(-50%, 0);
}
.demo::before {
	background-color: #555;
	border-radius: 2px;
	color: #CCC;
	content: "Demonstration";
	display: block;
	font-size: 0.8em;
	font-weight: bold;
	margin: 4px;
	padding: 0 0.5em;
}
.demo span {
	display: block;
	font-size: 0.8em;
	padding: 0 4px;
	text-align: center;
}
.demo iframe {
	border: 1px solid #555;
	display: block;
	margin: 4px auto;
}
div.example {
	margin: auto;
	margin-bottom: 1em;
	width: 90%;
}
div.example::before {
	background-color: #555;
	border-radius: 2px;
	color: #CCC;
	content: "Example";
	display: block;
	font-size: 0.8em;
	font-weight: bold;
	margin: 4px;
	padding: 0 0.5em;
}
p.example {
    background-color: #111;
	margin: auto;
	margin-bottom: 2em;
	width: 90%;
}
p.example::before {
	background-color: #555;
	border-radius: 2px;
	color: #CCC;
	content: "Example";
	display: block;
	font-size: 0.8em;
	font-weight: bold;
	margin: 4px 0;
    padding: 0 4px;
}
p.example {
	border: 1px solid #555;
	display: block;
	margin: 4px auto 1em;
    padding: 0 4px;
}


/*  SCRIPT META DATA  */
#contributors,
#related,
#history,
#github,
#lastmodified,
#thanks {
	font-size: 0.8em;
	text-align: left;
}
#contributors::before {
	content: url(/images/35/_contributors.png);
	padding-right: 6px;
	position: relative;
	top: 3px;
}
#related::before {
	content: url(/images/35/_related.png);
	padding-right: 6px;
	position: relative;
	top: 3px;
}
#history::before {
	content: url(/images/35/_history.png);
	padding-right: 6px;
	position: relative;
	top: 3px;
}
#github::before {
	content: url(/images/35/_github.png);
	padding-right: 6px;
	position: relative;
	top: 3px;
}


/*  LICENSE PAGE  */
#license {
	background-color: #222;
	border: 1px solid #E62;
	margin: 2em 0;
	padding: 1em 2em;
}


/*  GAMEMAKER RELEASES PAGE  */
#releases table {
	border-spacing: 0;
	border-top: 1px solid gray;
	border-left: 1px solid gray;
}
#releases td {
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 16px 32px;
	text-align: center;
}
#releases td:first-child {
	font-family: 'Paytone One', sans-serif;
	font-size: 25px;
	font-weight: 400;
	line-height: 1em;
	margin: 12px 0 18px 0;
	text-align: left;
	text-shadow: 1px 1px 3px #000;
}
#releases td:first-child a {
	font-weight: 400;
}
#releases .gms2 {
	background-color: #153;
}
#releases .gms2 td {
	border-bottom: 1px dashed gray;
}
#releases .gms2rt {
	background-color: #153;
}
#releases .gms2rt td {
	border-top: none;
}
#releases .gms2B {
	background-color: #144;
}
#releases .gms2B td {
	border-bottom: 1px dashed gray;
}
#releases .gms2rtB {
	background-color: #144;
}
#releases .gms2rtB td {
	border-top: none;
}
#releases .stable {
	background-color: #135;
}
#releases .beta {
	background-color: #124;
}
#releases .ea {
	background-color: #113;
}
#ajax {
    display: block;
	padding: 279px 0;
	text-align: center;
}


/*  PAYPAL PAGE  */
#paypal {
	clear: both;
	text-align: center;
}


/*  STATIC SITE  */
.static {
	background-color: #622;
	border: 1px solid;
	border-radius: 12px;
	margin-top: 0;
	padding: 0 12px;
	text-align: center;
}


/*  THROBBER EFFECT  */
.throb {
	animation: navthrobber0 1s linear 0s infinite alternate;
}
@keyframes navthrobber0 {
	from { color: #FC7C13; }
	to   { color: #FFCC33; }
}
.throb:hover {
	animation: navthrobber1 1s linear 0s infinite alternate;
}
@keyframes navthrobber1 {
	from { color: #000000; }
	to   { color: #D92C00; }
}
.disabled {
	color: inherit;
	cursor: default;
	pointer-events: none;
	text-decoration: none;
}


/*  CONTRAST FILTER EFFECT  */
#contrast {
	opacity: 0.5;
	position: absolute;
	right: 8px;
	top: 8px;
    transition: opacity 250ms linear;
}
.filter {
	filter: invert(1);
}
.filter img {
	filter: invert(1);
}
.filter iframe {
	filter: invert(1);
}
.filter #disqus_thread {
	filter: invert(1);
}
.filter #home {
	filter: invert(1);
}
.filter #xot {
	filter: invert(1);
}
.filter #toolbar {
	background-color: #111;
}
.filter textarea {
	filter: invert(1);
}


/*  COOKIE NOTICE  */
#cookies {
	background-color: #111;
	border-top: 2px solid #888;
	display: none;
	font-weight: bold;
	line-height: 1em;
	padding: 14px 140px 14px 40px;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}
#cookiebutton {
	background-color: #FC7C13;
	border-top: 1px solid #FFCC33;
	border-radius: 5px;
	color: #FFF;
	cursor: pointer;
	margin: -6px 0;
	padding: 6px 32px;
	position: absolute;
	right: 40px;
	text-decoration: none;
}
#cookiebutton:hover {
	background-color: #FC3;
	color: #000;
}
#cookiebutton:active {
	background-color: #FC3;
	color: #000;
}


/*  CLIPBOARD TOOL  */
.copy {
	float: right;
	margin: 0.5em;
}
.copy a {
	background-color: #FC7C13;
	border-top: 1px solid #FFCC33;
	border-radius: 5px;
	color: #FFF;
	cursor: pointer;
	font-family: "Mondo", sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	padding: 2px 16px;
	text-decoration: none;
	text-shadow: none;
}
.copy a:hover {
	background-color: #FC3;
	color: #000;
	text-decoration: none;
}
.copy a:active {
	background-color: #FC3;
	color: #000;
	text-decoration: none;
}


/*  SIDELINK for icuurd12b42's Help Userscript  */
#sidelink:active {
	text-decoration: none;
}
#sidelink:hover {
	text-decoration: none;
}


/*  MARK EXTERNAL LINKS WITH AN ICON  */
/*  Troublesome with image links and just messy looking on some pages.
main a[href^="http://"]:not([href*="gmlscripts.local"])::after,
main a[href^="https://"]:not([href*="gmlscripts.local"])::after{
	content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAABGdBTUEAAK/INwWK6QAAAAxQTFRF+3wTJSMiaUAf63UWo7NLDgAAAAJ0Uk5T/wDltzBKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADFJREFUCNdFjEEOwDAAggD//+cd2qyeDEZQ5USV1FPbmw7Fli3AZcSl4/5a/Ap5CtQPFIIAX2uL0ZsAAAAASUVORK5CYII=');
	display: inline-block;
	margin: 0 4px;
}
*/


@media print {
	body {
		font-size: 9pt;
		line-height: 11pt;
		margin: 0;
		padding: 0;
	}
	main {
		border-style: none;
		margin: 0;
	}
	*, h1, h2 {
		text-shadow: none;
	}
	pre, code {
		font-size: 8pt;
		line-height: 9pt;
		overflow: hidden;
	}
	.example {
		margin: 0;
	}
	dl,
	.blogdate,
	.note,
	.warning,
	.codebox {
		border-style: none;
	}
	.codebox .linenums > li::before {
		display: none;
	}
	header,
	hr,
	footer,
	.demo,
	.copy,
	#sidenav,
	#related,
	#github,
	#disqus_thread,
	#recentcomments,
	#recentcomments + a {
		display: none;
		float: none;
		margin: 0;
		padding: 0;
	}
	.dictionary.recent.script::before,
	#contributors::before {
		content: '';
	}
}