/* Pretty printing styles. Used with prettify.js. */

.codebox,
.pun .codebox { 
	width: auto; 
	background-color: #111;
	color: #C0C0C0; 
	border-color: #565656;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	}

.codebox pre,
.pun .codebox pre {
	background: transparent;
	overflow: auto;
	width: 100%;
	overflow-y:hidden;
	margin: 0;
	}
	
.codebox pre code,
.pun .codebox pre code {
	display: inline-block;
	padding: 0.75em;
	font-family: 'DejaVu Sans Mono', consolas, monaco, monospace;
	tab-size: 4;
	}
	
.codebox pre.vscroll ,
.pun .codebox pre.vscroll {
	height: 32em;
	overflow: auto;
	overflow-y: auto
	}
	
.codebox pre.vscroll,
.pun .codebox pre.vscroll {
	height:auto;
	}
	
div[class*="codebox"] pre code,
.pun div[class*="codebox"] pre code { 
	display: inline-block; 
	}
	
div[class*="codebox"],
.pun div[class*="codebox"] {
	padding: 5px;
	}

.str { color: #FF8080; }
.kwd { color: #FFB871; font-weight: bold; }
.fnc { color: #FFB871; }
.com { color: #8FEF8F; font-style: italic; }
.typ { color: #606; }
.lit { color: #FF8080; }
.pnc { color: #C0C0C0; }
.pln { color: #C0C0C0; }
.tag { color: #008; }
.atn { color: #606; }
.atv { color: #080; }
.dec { color: #606; }


@media print {
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .fnc { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pnc { color: #440; }
  .pln { color: #000; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
}
